:root {
    --white: #fff;
    --black: #2e2e2e;
    --textColor: #f23f0b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    height: 100%;
    color: var(--black);
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header */
.header {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 1px 1px 5px 0 var(--grey);
    position: sticky;
    top: 0;
    width: 100%;
    height: 95px;
}

/* Logo */
.logo {
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

.logo img {
    display: block;
    height: 50px;
    margin: 10px 0;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(250, 250, 250, 0.75);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.menu a {
    display: block;
    padding: 30px;
    color: var(--textColor);
}

.menu a:hover {
    background-color: var(--black);
    color: var(--white);
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line {
    background: var(--black);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after {
    background: var(--black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* Main content */
main {
    height: 100vh;
}

article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main article {
    margin: 50px 15px;
}

main article h1 {
    font-size: 2.15em;
    line-height: 35px;
    font-weight: bolder;
    color: var(--textColor);
}

main article p:nth-of-type(1) {
    background-color: #ddd;
    padding: 8px;
    border: 2px solid var(--white);
}

/* Responsiveness */
@media (min-width: 768px) {
    .header {
        margin: 0 auto;
        background-color: var(--white);
    }

    .nav {
        max-height: none;
        top: -5px;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        margin-right: 7%;
    }

    .logo {
        margin-left: 8%;
    }

    .social-nav {
        background-color: var(--black);
        width: 100%;
        text-align: right;
    }

    .social-nav .second-menu {
        margin: 0 8%
    }

    .second-menu ul li {
        display: inline;
    }

    .second-menu ul li a {
        color: var(--white);
        margin: 0 5px;
    }

    .menu li {
        float: left;
    }

    .menu li:last-child a {
        float: left;
        background-color: white;
        color: var(--textColor);
        border: 4px solid var(--textColor);
        padding: 10px 15px;
        margin: 15px;
    }

    .menu a {
        color: var(--black);
    }

    .menu:active {
        color: var(--textColor);
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--textColor);
    }

    .hamb {
        display: none;
    }

    main section:nth-of-type(1) {
        background-image: url('../images/background-1.png');
        background-size: cover;
        height: 88vh;
    }

    main section:nth-of-type(2) {
        background-image: url('../images/background-2.png');
        padding: 50px 0;
        color: var(--white);
        text-align: center;
    }

    main section:nth-of-type(2) .cards {
        display: flex;
        margin: 50px 10%;
        gap: 4px;
    }

    main section:nth-of-type(2) hr {
        border: 1px solid var(--textColor);
        width: 50px;
        margin: 20px auto
    }

    main section:nth-of-type(2) a {
        text-transform: uppercase;
        color: var(--white)
    }

    main section:nth-of-type(2) a:hover {
        text-decoration: underline;
    }

    main section:nth-of-type(2) .cards .card {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 20px 10px;
        text-align: center;
        color: var(--white);
        border: 2px solid rgba(255, 255, 255, 0);
    }

    main section:nth-of-type(2) .cards .card:hover {
        border: 2px solid var(--white);
    }

    main section:nth-of-type(2) .cards .card h2 {
        color: var(--textColor);
        margin: 5px 0;
    }

    main section:nth-of-type(2) .cards .card img {
        width: 50px;
    }

    main section:nth-of-type(3) {
        background-color: var(--white);
        height: 100vh;
        padding-top:50px;
    }

    main section:nth-of-type(3) .cards{
        display: flex;
        flex-wrap: wrap;
        margin: 50px 10%;
        gap: 5px;
    }

    section:nth-of-type(3) > h2{
        text-align: center;
    }

    section:nth-of-type(3)  > hr{
        border: 1px solid var(--textColor);
        width: 50px;
        margin: 20px auto
    }

    section:nth-of-type(3) .cards > *{
        flex:1 45%;
        padding:13px 0 0 13px;
        background-color: var(--white);
        background-image: url('../images/background-3.png');
        background-repeat: no-repeat;
        margin-bottom: 15px;
    }

    section:nth-of-type(3)  > .cards  > .card  > img{
        width:20%;
        margin-right:15px;
        float: left;
    }

    main section:nth-of-type(3) .cards .card hr{
        width:50px;
        border:2px solid silver;
        margin:10px 0;
    }

    main section:nth-of-type(3) .cards .card p{
        width:75%;
        float: left;
    }

    main section:nth-of-type(4) {
        background-color: rgb(96, 151, 210);
        height: 30vh;
    }

    main section:nth-of-type(5) {
        background-color: rgb(188, 92, 192);
        height: 30vh;
    }
}